body{
	font-family: 'Montserrat', sans-serif;
	font-style: normal;
	font-size: 15px !important;
}

.hide{
	display: none;
}

label{
	font-size: 120%;
	font-weight: bold;
}

.errorlist{
	color: red;
	text-align: center;
	list-style-type: none;
	padding-inline-start: 0px;
}

.checking-admin, .checking-moderate{
	width: 20px;
	margin: auto;
}

.table-cel-width-5{
	width: 5%;
}

.table-cel-width-10{
	width: 10%;
}

.table-cel-width-15{
	width: 15%;
}

.table-cel-width-20{
	width: 20%;
}

.table-cel-width-25{
	width: 25%;
}

.table-cel-width-30{
	width: 30%;
}

.table-cel-width-35{
	width: 35%;
}

.table-cel-width-40{
	width: 40%;
}

.table-cel-width-45{
	width: 45%;
}

.table-cel-width-50{
	width: 50%;
}

.table-cel-width-55{
	width: 55%;
}

.table-cel-width-60{
	width: 60%;
}

.table-cel-width-65{
	width: 65%;
}

.table-cel-width-70{
	width: 70%;
}

.table-cel-width-75{
	width: 75%;
}

.table-cel-width-80{
	width: 80%;
}

.table-cel-width-85{
	width: 85%;
}

.table-cel-width-90{
	width: 90%;
}

.table-cel-width-95{
	width: 95%;
}

.content-blocker{
	display: none;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 999;

	background-color: rgba(100, 100, 100, 0.7);

	height: 100%;
	width: 100%;
}

.content-blocker div{
	display: block;
	width: 100%;
	margin-top: 45vh;
	vertical-align: middle;
	text-align: center;
}

.my-mt{
	margin-top: 2rem !important;
}

.active{
	color: #05f !important;
}

.cert-popup label{
	min-height: 60px;
}

.filter-table{
	font-size: 70%;
}
.filter-table td{
	background-color: rgba(0, 76, 255, 0.2);
	padding: 5px;
}

.filter-table td{
	cursor: pointer;
}

.filter-table .active{
	background-color: rgba(0, 76, 255, 0.5);
	font-weight: bold;
}

.filter-table-italic{
	font-style: italic;
}

#cookie-banner{
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  border-top: 1px solid #e5e7eb; /* gray-200 */
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.4);
  z-index: 2000;
  padding: 1rem; /* p-4 */
  transition: all 0.8s ease-in-out;
}

#cookie-banner > div{
  margin-left: auto; 
  margin-right: auto; /* mx-auto */
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  gap: 1rem; /* example for gap-4 */
}

@media (min-width: 768px) {
  #cookie-banner > div {
    flex-direction: row; /* md:flex-row */
  }
}

#cookie-banner .cookie-banner{
  display: flex;
  align-items: flex-start;
  gap: 0.75rem; /* assuming the default Tailwind gap-3 */
  flex: 1;
}

#cookie-banner > div > div > div > p{
  color: #1f2937;
  font-size: 1.2rem;
  line-height: 1.25rem;
  font-weight: 500;
  margin-bottom: 1rem;

}

#cookie-banner > div > div > div > div > p{
  color: #4B5563;         /* text-gray-600 */
  font-size: 1rem;     /* text-xs */
  line-height: 1.625;     /* leading-relaxed */
  margin-bottom: 1rem;  /* mb-2 */
}

#cookie-banner a{
  text-decoration: underline;
  color: #0e68e6;
  cursor: pointer;
}

#cookie-banner .button-container{
  display: flex;
  gap: 0.5rem; /* or 8px */
  flex-shrink: 0;  
}

#cookie-banner button{
  padding-left: 1rem;      /* px-4 */
  padding-right: 1rem;     /* px-4 */
  padding-top: 0.5rem;     /* py-2 */
  padding-bottom: 0.5rem;  /* py-2 */
  font-size: 1.2rem;     /* text-sm */
  background-color: #0e68e6; /* bg-primary */
  color: white;            /* text-white */
  border-radius: 0.5rem;   /* rounded-lg */
  transition-property: background-color; /* transition-colors */
  transition-duration: 0.3s;
  transition-timing-function: ease-in-out;
}

.hide-cookie{
  height: 0px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}