{% extends "base.html" %}
{% load objects_extras %}
{% load static %}

{% block content %}
	<div class="p-2 p-md-5">
		<div style="font-size: 24px;">
			<b>Результаты</b>
		</div>
	</div>

	{% for theme in themes %}
		<div class="row align-middle px-2 px-md-5">
			<div class="col-md-5 col-12" style="line-height: 56px;">
				<b>{{ theme.title }}</b><em> ({{ theme.count }} сек.)</em>
			</div>
			<style>
				@media (min-width: 576px) {
					.btn-mobile-sm {
						padding: .375rem .75rem; /* Стандартные паддинги btn */
						font-size: 1rem;       /* Стандартный размер шрифта */
						line-height: 1.5;
					}
				}
			</style>
			<div class="col-md-7 col-12 d-flex justify-content-end flex-nowrap">
				<button type="button" class="btn btn-sm btn-mobile-sm {% if show_timer %}btn-primary{% else %}btn btn-secondary{% endif %} show_timer mr-1">ТАЙМЕР</button>
				<button type="button" class="btn btn-sm btn-mobile-sm {% if zoom %}btn-primary{% else %}btn btn-secondary{% endif %} zoom mr-1">ZOOM</button>
				<button type="button" class="btn bbtn-sm btn-mobile-sm {% if theme.active %}btn-primary{% else %}btn btn-secondary{% endif %} active_theme mr-1" data-pk="{{ theme.pk }}">СТАРТ</button>
				<button type="button" class="btn btn-sm btn-mobile-sm {% if theme.current %}btn-primary{% else %}btn btn-secondary{% endif %} current mr-1" data-pk="{{ theme.pk }}">АКТИВНОЕ</button>
			</div>
		</div>
		<div class="text-left mt-3 px-0 px-md-5">
			<table class="table">
				<thead>
					<tr>
						<th scope="col" class="table-cel-width-5 align-middle">№</th>
						<th scope="col" class="table-cel-width-75 align-middle">Название</th>
						<th scope="col" class="table-cel-width-20 align-middle text-center">Оценка</th>
					</tr>
				</thead>
				<tbody>
					{% with sorted_counts|lookup:theme.pk as sorted_counts %}
					{% for key, val in sorted_counts.items %}
						<tr class="">
							<th scope="row" class="align-middle">{{ key.number }}</th>
							<td class="align-middle">{{ key.name }}<br><em>{{ key.sub_name }}</em></td>
							<td class="align-middle text-right">{{ val }}</td>
						</tr>
					{% endfor %}
					{% endwith %}
				</tbody>
			</table>
		</div>
	{% endfor %}
{% endblock %}

{% block scripts %}
	{{ block.super }}
	<script type="text/javascript">
		$(document).ready(function() {
			$('.zoom').click(function(){
				if ($(this).hasClass('btn-primary')){
					url = "{% url 'ajax_unzoom' %}";
					$('.zoom').removeClass('btn-primary');
					$('.zoom').addClass('btn-secondary');
				}else{
					url = "{% url 'ajax_zoom' %}";
					$('.zoom').addClass('btn-primary');
					$('.zoom').removeClass('btn-secondary');
				}

				$.ajax({
					url: url,
					success: function(data){
					}
				});
			});
			
			$('.show_timer').click(function(){
				if ($(this).hasClass('btn-primary')){
					url = "{% url 'ajax_reset_show_timer' %}";
					$('.show_timer').removeClass('btn-primary');
					$('.show_timer').addClass('btn-secondary');
				}else{
					url = "{% url 'ajax_set_show_timer' %}";
					$('.show_timer').addClass('btn-primary');
					$('.show_timer').removeClass('btn-secondary');
				}

				$.ajax({
					url: url,
					success: function(data){
					}
				});
			});

			$('.current').click(function(){
				if ($(this).hasClass('btn-secondary')){
					pk = $(this).attr('data-pk');

					$('.current').removeClass('btn-primary')
					$('.current').addClass('btn-secondary')

					$(this).addClass('btn-primary')
					$(this).removeClass('btn-secondary')

					var formData = new FormData();
					formData.append('pk', pk);

					$.ajax({
					url: "{% url 'ajax_current' %}",
						type: 'POST',
						data: formData,
						cache: false,
						contentType: false,
						processData: false,
						success: function(data) { 
						},
					});
				}
			});

			$('.active_theme').click(function(){
				if ($(this).hasClass('btn-secondary')){
					url = "{% url 'ajax_active' %}";
					$('.active_theme').removeClass('btn-primary')
					$('.active_theme').addClass('btn-secondary')

					$(this).addClass('btn-primary')
					$(this).removeClass('btn-secondary')
				}else{
					url = "{% url 'ajax_deactive' %}";
					$('.active_theme').removeClass('btn-primary')
					$('.active_theme').addClass('btn-secondary')
				}

				pk = $(this).attr('data-pk');

				var formData = new FormData();
				formData.append('pk', pk);

				$.ajax({
				url: url,
					type: 'POST',
					data: formData,
					cache: false,
					contentType: false,
					processData: false,
					success: function(data) { 
					},
				});

			});
		});
	</script>
{% endblock %}